<header
  class="bg-[#FAFBFC] px-4 py-1 flex items-center justify-between sticky top-0 z-30">

  <!-- Left -->
  <h1 id="header-title" class="text-lg text-[var(--mainblue)]">
    Welcome Alrajhi
  </h1>

  <!-- Right Section for lg and up -->
  <div id="header-right" class="items-center hidden gap-4 lg:flex">

    <!-- Search Bar -->
    <div class="relative">
      <input
        id="header-search"
        type="text"
        placeholder="Search here..."
        class="pl-12 pr-8 py-1 rounded-full bg-white text-xs border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500" />

      <img
        src="images/img/search.svg"
        class="absolute size-4 text-gray-400 transform  left-5 top-[20%]"
        alt="Search" />
    </div>

    <!-- Mail Button -->
    <button
      id="mail-btn"
      class="flex items-center justify-center w-8 h-8 transition   rounded-full hover:bg-gray-200">
      <img src="images/img/mail.svg" alt="Mail" class="size-4">
    </button>

    <!-- Notification Button -->
    <button
      id="notification-btn"
      class="flex items-center justify-center w-8 h-8 transition   rounded-full hover:bg-gray-200">
      <img src="images/img/bell.svg" alt="Notifications" class="size-4">
    </button>

      <!-- Language Dropdown -->
      <!-- <div class="relative">
        <button id="lang-dropdown-btn" class="flex items-center justify-center w-20 h-8 pl-2 rounded-full bg-white border border-gray-300 text-xs font-medium hover:bg-gray-100 focus:outline-none">
          <span id="selected-lang">Eng</span>
          <img src="images/img/arrow.svg" alt="Expand" class="size-6 ml-1">
        </button>
        <div id="lang-dropdown-menu" class="hidden absolute right-0 mt-1 w-20 bg-white border border-gray-200 rounded shadow-lg z-40">
          <button class="block w-full text-left px-4 py-2 text-xs hover:bg-gray-100" data-lang="Eng">Eng</button>
          <button class="block w-full text-left px-4 py-2 text-xs hover:bg-gray-100" data-lang="Ar">Ar</button>
        </div>
      </div> -->

      <button id="lang-dropdown-btn" class="group flex items-center justify-center h-8 px-2 rounded-full bg-white border border-gray-300 text-xs font-medium hover:bg-gray-100 focus:outline-none">
        <!-- Lucide Language Icon SVG -->
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" class="mr-1  group-hover:text-blue-700 transition-colors">
          <circle cx="12" cy="12" r="10" />
          <path d="M2 12h20M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10A15.3 15.3 0 0 1 12 2z" />
        </svg>
        <span id="selected-lang">Ar</span>
      </button>

    <!-- User Profile -->
    <div id="profile-section" class="flex gap-3 items-center cursor-pointer">
      <img
        id="profile-image"
        src="images/img/profile.png"
        class="w-8 h-8 rounded-full"
        alt="Profile" />

      <div class="flex flex-col gap-0.5">
        <h4 class="flex gap-0.5 text-sm">
          <span id="profile-name">Alrajhi Bank</span>
          <img src="images/img/arrow.svg" alt="Expand" class="size-4">
        </h4>
        <p id="profile-email" class="text-xs text-gray-500">
          info@user.com
        </p>
      </div>
    </div>
  </div>

  <!-- Hamburger Button (Mobile) -->
  <button id="hamburger" class="block lg:hidden">
    <svg class="w-6 h-6 text-gray-800" fill="none" stroke="currentColor" stroke-width="2"
      viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>
</header>
